@use '../../partials/_variables' as *;
@use '../../partials/_typography' as *;
@use '../../partials/_mixins' as *;

textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px $brainflix-cta;
}

.comment-section {
    margin: 1rem;
    padding-bottom: 1.5rem;

    @include tablet {
        margin: 0 1.5rem;
    }

    &__title {
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.form {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $primary-border;

    @include tablet {
        align-items: center;
        justify-content: space-between;
    }

    &__avatar {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 25px;
        margin-right: 1rem;
        margin-top: 1.5rem;
    }
}

.comment-input {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet {
        margin-right: 1rem;
    }

    &__label {
        font-size: 0.75rem;
        line-height: 1.25rem;
        color: $primary-label;
        font-weight: 600;
    }

    &__text {
        width: 100%;
        height: 6rem;
        border-radius: 4px;
        padding: 1rem;
        border: 2px solid $primary-border;
        font-family: 'AvenirNext LT Pro';
        resize: none;
        color: $primary-text;

        @include tablet {
            font-size: 1rem;
            height: 3.5rem;
            width: 100%;
        }
    }

    &__button {
        margin-top: 1rem;
        height: 3rem;
        background-color: $brainflix-cta;
        color: white;
        border: none;
        border-radius: 4px;

        @include tablet {
            display: none;
        }

        &--responsive {
            display: none;

            @include tablet {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                margin-right: 2.5rem;
                height: 3rem;
                width: 10rem;
                background-color: $brainflix-cta;
                color: white;
                border: none;
                border-radius: 4px;
            }

            @include desktop {
                display: flex;
                margin-right: 0;
                width: 12rem;
            }

            &:hover {
                background-color: $instock-cta-hover;
            }
        }
        
    }
}


.rendered-comments {
    display: flex;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $primary-border;

    &__avatar {
        background-color: $primary-border;
        height: 3rem;
        width: 3rem;
        flex-shrink: 0;
        border-radius: 25px;
        margin-right: 1rem;
        margin-top: 1.5rem;
    }
}

.comment-data {
    height: 3.5rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        justify-content: inherit;
    }

    &__name {
        font-weight: 600;

        @include tablet {
            margin-right: 1rem;
            font-size: 1.1rem;
        }
    }

    &__date {
        color: $primary-label;
    }
}

.comment-info {
    margin: 0;
}