@use '../../partials/_variables' as *;
@use '../../partials/_mixins' as *;

.video-list {
    margin: 1rem;

    @include tablet {
        margin: 0 1.5rem;
    }

    @include desktop {
        border-left: 1px solid $primary-border;
        padding-left: 2rem;
        margin-left: 0;
    }

    &__title {
        font-size: 12px;
        line-height: 20px;
        color: $primary-label;
        font-weight: 600;
        margin-bottom: 2rem;

        @include desktop {
            margin-top: 2rem;
        }
    }
}

.next-videos {
    display: flex;
    align-items: center;
    height: 4.375rem;
    margin-bottom: 1.5rem;

    @include tablet {
        width: 50%;
    }

    @include desktop {
        width: 135%;
    }

    &__img{
        width: 7.5rem;
        height: 4.375rem;
        margin-right: 1rem;
        border-radius: 4px;
        object-fit: cover;
    }
}

.next-info {
    width: 60%;
   
    &__title {
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 1.125rem;

        @include tablet {
            font-size: 1rem;
            margin: 0.5rem 0;
        }
    }

    &__channel {
        font-size: 0.8125rem;
        line-height: 1.125rem;

        @include tablet {
            font-size: 0.9rem;
            margin-top: 0.5rem;
        }
    }
}