@use '../../partials/_variables' as *;
@use '../../partials/_typography' as *;
@use '../../partials/_mixins' as *;

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px $brainflix-cta;
    border-radius: 4px;
}

.header {
    height: 10.56rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        align-items: center;
        height: 5rem;
    }

    @include desktop {
        margin: 0 11.25rem;
    }
    
    &__img{
        height: 2rem;
        margin-bottom: 1rem;

        @include tablet {
            margin: 0;
            margin-right: 16%;
            margin-left: 1.5rem;
        }

        @include desktop {
            margin-right: 25%;
        }
    }

    &__search {
        border: 1px solid $primary-border;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 0.5rem;
        width: 100%;
        padding: 8px;
        display: flex;

        @include tablet {
            margin-right: 1.5rem;
        }
    }

    &__search-img {
        padding: 5px;
    }

    &__search-bar {
        border: none;
        flex-grow: 1;
        font-family: 'AvenirNext LT Pro';
        font-size: 1rem;
    }

    &__upload {
        display: flex;
        flex-direction: row;
        width: 100%;

        @include tablet {
            width: fit-content;
            margin-right: 1.5rem;
        }
    }

    &__upload-button {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: $brainflix-cta;
        color: white;
        border-radius: 3px;
        margin-right: 1rem;

        @include tablet {
            height: 50px;
            flex-grow: 0;
            padding: 1rem;
            padding-right: 1.5rem;
            align-items: center;
        }

        @include desktop {
            width: 65%;
        }

        &:hover {
            background-color: $instock-cta-hover;
        }
    }

    &__upload-logo {
        padding: 0.5rem;

        @include tablet {
            width: 2.2rem;
        }
    }

    &__upload-img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 25px;

    }
}