@use '../../partials/_variables' as *;
@use '../../partials/_typography' as *;

.header {
    height: 10.56rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    &__img{
        height: 2rem;
        margin-bottom: 1rem;
    }

    &__search {
        border: 1px solid $primary-border;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 0.5rem;
        width: 100%;
        padding: 8px;
        display: flex;
    }

    &__search-img {
        padding: 5px;
    }

    &__search-bar {
        border: none;
        flex-grow: 1;
        font-family: 'AvenirNext LT Pro';
        font-size: 1rem;
    }

    &__upload {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__upload-button {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: $brainflix-cta;
        color: white;
        border-radius: 3px;
        margin-right: 1rem;
    }

    &__upload-logo {
        padding: 0.5rem;
    }

    &__upload-img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 25px;

    }
}