// site colors
$primary-text: #323232;
$primary-label: #AFAFAF;
$primary-border: #E1E1E1;
$instock-cta: #004892;
$instock-cta-hover: #002F5F;
$brainflix-cta: #0095FF;
$brainflix-cta-hover: #0065AD;
$nav-fill: #323232;
$text-fill: #FAFAFA;

// breakpoints
$breakpoint-tablet: 47.938rem;
$breakpoint-desktop: 80rem;
