@use '../../partials/_mixins' as *;

.video {
    width: 100vw;

    @include tablet {
        padding: 0 3rem;
        background-color: black;
    }

    @include desktop {
        padding: 0 16rem;
    }
}