@use './partials/_mixins' as *;
@use './partials/_variables' as *;

.all-video-info {
    
    @include desktop {
        display: flex;
        flex-direction: row;
        margin: 0 11.25rem;
    }
}

a {
    text-decoration: none;
    color: $primary-text;
}
